<div class="about">
  <div>
    <h2 class="title-section">About.</h2>
  </div>
  <p>
    Hi, I'm <span>Débora Tavares</span>!<br />
    Mother, Front-End Developer, and Lawyer.<br />

    I'm a Brazilian based in São Paulo, 29 years old. With a background in Law
    and professional experience in event management, I transitioned to the tech
    world in 2021, where I discovered my true passion:
    <span>building creative solutions.</span><br />

    I have a strong aptitude for front-end development and love crafting
    beautiful, user-friendly interfaces. Sharing knowledge is something I deeply
    value, which led me to mentor women in technology. I also dedicate time to
    volunteer work whenever possible.<br />

    As a mother, I see technology as a force capable of transforming the world
    around us. <span>I am passionate about communication</span> and believe it has the power
    to simplify complexity, fostering collaboration and understanding in the
    projects I engage in.<br />

    <span>Let’s create something amazing!</span>
  </p>
  <div class="form-round">
    <img src="assets/form-round.png" alt="Form rounded purple" />
  </div>
</div>
