<div class="logo-container">
  <a (click)="scrollTo('home')" class="logo-link">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </a>
</div>
<div class="home-container">
  <div class="profile-picture">
    <img src="assets/deat-profile.png" alt="Profile Picture" />
  </div>
  <div class="profile-info">
    <h1>
      Frontend<br />
      Developer.
    </h1>
    <p>I'm passionate about building robust and scalable frontend solutions.</p>
  </div>
</div>

<!-- Menu Button -->
<button
  mat-icon-button
  class="menu-button"
  (click)="toggleMenu()"
  [matMenuTriggerFor]="menu"
>
  <mat-icon *ngIf="!isMenuOpen" class="menu-icon" [@iconTransition]="'menu'"
    >menu</mat-icon
  >
  <mat-icon *ngIf="isMenuOpen" class="menu-icon" [@iconTransition]="'close'"
    >close</mat-icon
  >
</button>

<!-- Menu Dropdown -->
<mat-menu #menu="matMenu" (closed)="(!isMenuOpen)" class="menu-dropdown">
  <button mat-menu-item (click)="scrollTo('about')">About</button>
  <button mat-menu-item (click)="scrollTo('experience')">Experience</button>
  <button mat-menu-item (click)="scrollTo('contact')">Contact</button>
</mat-menu>
