@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.home-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  overflow: hidden;
  height: 93vh;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #3f0590;
  z-index: 1;
}

.home-container {
  background-color: #fbcb38;
}

.profile-picture {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.profile-picture img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

.profile-info {
  position: relative;
  margin-left: 150px;
  z-index: 2;
}

.profile-info h1 {
  margin: 0;
  font-size: 7em;
  color: #c6d663;
  font-family: "Jersey 15", serif;
  font-weight: 800;
  font-style: normal;
}

.profile-info p {
  margin: 10px 0 0 0;
  font-size: 1.2em;
  color: #faf3e3;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.line-container1 {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translateY(-50%);
  z-index: 2;
  width: 200px;
}

.logo-container {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 100;
}

.logo-container img.logo {
  width: 150px;
  height: auto;
  display: block;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
}

.menu-button {
  position: fixed;
  top: 2rem;
  right: 3rem;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.menu-icon {
  color: #3f0590;
  position: absolute;
  transition: transform 0.5s ease, opacity 0.3s ease, transform 0.3s ease;
}

::ng-deep .mat-mdc-menu-panel {
  background-color: #3f0590 !important; /* Roxo no fundo */
  border-radius: 8px;
  min-width: 200px !important;
  color: white;
  border-radius: unset !important;
  padding: 12px;
}

::ng-deep .mat-mdc-menu-item {
  color: #faf3e3 !important;
  padding: 12px 24px;
}

::ng-deep .mat-mdc-menu-item:hover {
  background-color: #c6d663 !important;
  color: #3f0590 !important;
}

::ng-deep .mat-mdc-menu-item-text {
  font-size: 28px !important;
  font-weight: bold;
  font-family: "Jersey 15", serif !important;
}
